@model WebApp.Data.Entities.CommentEntity

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete comment №@Model.Id</h1>
<hr />
<div>
    <p>
        <a>@Html.DisplayFor(modelItem => Model.Content)</a>
    </p>
    <p>
        <a>@Html.DisplayFor(modelItem => Model.Author)</a> |
        <a>@Html.DisplayFor(modelItem => Model.Created)</a>
    </p>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
